# Node
node_modules/
npm-debug.log*
yarn-error.log*
dist/

# Env files
.env
.env.local
.env.production
.env.development

# Prisma
prisma/dev.db

# Logs
logs/
*.log

# Misc
.DS_Store
.vscode/
.idea/
uploads/
